.check-out-main {
    max-width: 166.4rem;
    margin: 0 auto;
    padding: 0 16px;
}

.payment-detail {
    border-radius: 2rem;
    background: #E9E9E9;
    width: 100%;
    padding: 20px 16px 16px;
    margin-bottom: 3rem;

    @include small-767 {
        margin-top: 4.5rem;
    }

    .patment-detail-heading {
        font-size: 3rem;
        color: $label;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }

    .cards-two {
        align-items: center;
        justify-content: space-between;

        @include medium-991 {
            flex-direction: column;
        }
    }

    .credit-fee {
        background: $white;
        border-radius: 1rem;
        width: 50%;
        margin-right: 1.6rem;
        text-align: center;
        padding: 2rem 16px;
        min-height: 14.1rem;

        @include medium-991 {
            margin-right: 0;
            margin-bottom: 2rem;
            width: 100%;
        }

        &:last-child {
            margin-right: 0;

            @include medium-991 {
                margin-bottom: 0;
            }
        }

        .credit-fee-heading {
            font-size: 2.5rem;
            color: $label;
            font-weight: 600;
            margin-bottom: 0rem;
        }

        .credit-fee-text {
            font-size: 2.2rem;
            color: $black;
            font-weight: 400;
            margin-bottom: 0rem;

            span {
                font-weight: 700;
                font-size: 2.5rem;
            }
        }
    }
}

.reponsive-box {
    background: $white;
    width: 75%;
    // overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 3rem;
    margin-right: 20px;

    @include medium-991 {
        width: 100%;
        margin-right: 0px;
        // overflow-x: auto;
    }

    @include m-425 {
        overflow-x: auto;
    }
}

.payment-detial-table {
    @include m-425 {
        width: 600px;
    }

    .table-header-banner {
        background: #FBB343;
        padding: 1.6rem 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 8.5rem;

        @include large-1370 {
            padding: 1.6rem 0rem;
        }

        .table-header-heading {
            font-size: 2rem;
            color: $label;
            font-weight: 600;
            width: 20%;
            text-align: center;

            @include large-1370 {
                font-size: 1.6rem;
                padding: 0 1rem;
            }

            // padding: 0 1rem;
            &.width-1 {
                width: 10%;
            }

            &.width-2 {
                width: 25%;
            }

            &.width-3 {
                width: 25%;
            }
        }
    }

    .table-body-main {
        .payment-deatil-body {
            padding: 1.6rem 0rem;
            width: 92%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding: 1rem 1.6rem;
            border-bottom: 1px solid #d1d1d1;
            margin: 0 auto;

            @include large-1370 {
                width: 100%;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .normal-fonts {
        font-size: 2.2rem;
        color: $black;
        font-weight: 400;
        padding: 0 0rem;
        margin-bottom: 0;
        width: 20%;
        text-align: center;

        @include large-1370 {
            font-size: 1.6rem;
        }

        &.width-1 {
            width: 10%;
        }

        &.width-2 {
            width: 25%;
        }

        &.width-3 {
            width: 25%;
        }
    }
}

.quantity-main {
    width: 20%;
    justify-content: center;

    .quantity-btn {
        width: 4rem;
        height: 4rem;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background: $primary;
        font-size: 1.5rem;
        border: none;
        margin-left: 1.2rem;

        &.btn-edit {
            background: #E9E9E9;
            color: $black;

            &:hover {
                background: $primary;
                color: $white;
            }
        }

        &:hover {
            background: $button-color;
            transition: ease-in-out .4s;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.price-deatil-t {
    font-size: 2.2rem;
    color: $black;
    font-weight: 700;
    padding: 0 0rem;
    margin-bottom: 0;
    width: 20%;
    text-align: center;

    @include large-1370 {
        font-size: 1.6rem;
    }
}

.counter-quantity {
    border: 1px solid #979797;
    width: 5.5rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 3px;

    @include m-425 {
        width: 6.5rem;
    }

    .p-m {
        font-size: 9px;
        color: $black;
        font-weight: 400;
        background: none;
        outline: none;
        border: none;
        height: 1.9rem;
        width: 1.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E9E9E9;
        border-bottom: 1px solid #979797;
        border-left: 1px solid #979797;

        @include m-425 {
            height: 2.9rem;
            width: 2.9rem;
            padding: 0;
        }

        @include m-375 {
            font-size: 7px;
            height: 2.5rem;
            width: 2.5rem;
            padding: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: $primary;
            color: $white;
        }
    }

    .flex-direction-ctm {
        flex-direction: column;
    }

    .cart-input {
        background: none;
        outline: none;
        font-weight: 400;
        font-size: 1.8rem;
        color: $black !important;
        width: 3.6rem;
        height: 100%;
        border: none;
        // border-right: 1px solid $border-color;
        // border-left: 1px solid $border-color;
        border-radius: 0;
        box-shadow: none !important;
        padding: 3px 6px;
        // @include m-575 {
        //     width: 5.9rem;
        // }
    }
}

.table-footer-ctm {
    background: #FBB343;
    padding: 1.6rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .total-check-out {
        font-size: 3rem;
        font-weight: 700;
        color: $label;
        margin-bottom: 0;

        @include large-1370 {
            font-size: 2.5rem;
        }
    }
}

.check-out-main-section {
    display: flex;

    @include medium-991 {
        flex-direction: column;
    }
}

.right-check-out-box {
    width: 25%;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 3rem;
    background: $white;

    @include medium-991 {
        width: 100%;
    }

    .right-check-out-baaner {
        background: #FBB343;
        padding: 1rem 2rem;
        min-height: 8.5rem;
        display: flex;
        align-items: center;

        .banner-text-c {
            font-size: 2.0rem;
            font-weight: 600;
            color: $label;
            margin-bottom: 0;
        }
    }

    .accordian-main {
        padding: 2rem;

        .card {
            border: none;
            background: transparent;

            .card-header {
                border: none;
                padding: 1rem 0;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                &.collapsed {
                    border-bottom: 1px solid #716B6B;

                    .card-title {
                        color: $black;
                    }
                }

                .card-title {
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $label;
                    margin-bottom: 0;

                    @include medium-991 {
                        font-size: 1.6rem;
                    }
                }
            }

            .card-body {
                width: 100%;
                padding: 0;

                &.show {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid #716B6B;
                }

                .card-body-detail {
                    background: #E9E9E9;
                    border-radius: 1rem;
                    padding: 2rem 2.5rem;
                    position: relative;

                    .check-out-check-box {
                        margin: .5rem 0 .3rem;
                    }

                    .custom-check input:checked~.checkmark {
                        background-color: $primary;
                    }

                    .custom-check {
                        padding-top: 0;
                    }

                    .custom-check .checkmark {
                        top: .4rem;
                        width: 2rem;
                        height: 2rem;

                        @include m-425 {
                            width: 2.5rem;
                            height: 2.5rem;
                            top: 0.2rem;
                        }
                    }

                    .custom-check .checkmark:after {
                        left: 0.6rem;
                        top: 0rem;
                        width: 0.7rem;
                        height: 1.3rem;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);

                        @include m-425 {
                            left: 0.7rem;
                            top: 0.1rem;
                            width: 0.8rem;
                            height: 1.6rem;
                        }
                    }

                    .remember-me {
                        .prvc {
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: $text-70;
                            padding-left: 3rem;
                            padding-top: 0.1rem;

                            a {
                                color: $primary;

                                &:hover {
                                    color: $button-color;
                                }
                            }

                            @include m-425 {
                                padding-top: 0;
                                font-size: 1.8rem;
                                padding-left: 3.5rem;
                            }
                        }
                    }

                    .form-check-out {
                        width: 100%;
                        margin-top: 2rem;
                        margin-bottom: 1.6rem;

                        .inline-form {
                            justify-content: space-between;

                            .input-style {
                                width: 45%;
                                // margin-right: 1rem;
                            }
                        }

                        .input-style {
                            margin-bottom: 1.6rem;
                        }

                        .input-style label {
                            font-size: 1.8rem;
                            font-weight: 400;
                            color: $black;
                            margin-bottom: 2px;

                            @include large-1370 {
                                font-size: 1.6rem;
                                font-weight: 700;
                            }
                        }

                        .input-style .ctm-input {
                            font-size: 2.5rem;
                            font-weight: 600;
                            color: $black;
                            height: 3.2rem;
                            padding: 3px 1rem 3px 0;
                            font-style: normal;

                            @include large-1370 {
                                font-size: 1.6rem;
                            }

                            &::placeholder {
                                color: $black;
                            }
                        }
                    }

                    .arrow-long-box {
                        position: absolute;
                        left: 1rem;
                        top: 1rem;

                        .arrow-btn {
                            text-decoration: none;

                            &:hover {
                                svg {
                                    path {
                                        stroke: $primary;
                                        fill: $primary;
                                    }
                                }
                            }
                        }
                    }

                    .accordian-heading {
                        padding-top: 1rem;
                        font-size: 2.5rem;
                        font-weight: 600;
                        color: $black;
                        margin-bottom: 1rem;
                        text-align: center;
                    }

                    .card-text-ctm-accordian {
                        .accordian-t {
                            font-size: 1.5rem;
                            color: $black;
                            font-weight: 400;
                            margin-bottom: 1rem;

                            span {
                                font-weight: 600;
                            }
                        }
                    }

                    .accordian-list {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 0;

                        &.accordian-list-total {
                            border-top: 1px solid #716B6B;

                            .list-accordian-item {
                                padding-top: 0.8rem;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .list-accordian-item {
                            font-size: 1.8rem;
                            color: $black;
                            font-weight: 600;
                            margin-bottom: 0.8rem;
                        }
                    }

                    .next-btn {
                        width: 15.2rem;
                        height: 5.2rem;
                        background: $primary;
                        border-radius: 1.4rem;
                        color: $white;
                        box-shadow: 0 16px 30px #00000029;
                        font-size: 1.6rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 2px 1rem;
                        margin: 1.6rem 0 0;

                        &:hover {
                            background: $button-color;
                            transition: ease-in-out .4s;
                        }
                    }
                }
            }
        }

        .accordion .card-header:after {
            font-family: 'FontAwesome';
            content: "\f068";
            float: right;
            font-size: 2rem;
            color: $label;
        }

        .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\f067";
            font-size: 2rem;
            color: $black;

            @include medium-991 {
                font-size: 1.6rem;
            }
        }
    }
}

.bar-bottom-flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    // border: 1.2rem;
    // height: 100px;
    // background: $white;
    margin-bottom: 2rem;

    @include small-767 {
        position: fixed;
        bottom: 2rem;
        width: 96%;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
    }

    @include m-575 {
        width: 94.5%;
    }

    @include m-425 {
        width: 92.5%;
    }

    @include m-375 {
        width: 91.5%;
    }

    @include m-325 {
        width: 90%;
    }

    .items-bar-border {
        min-height: 100px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 2rem;
        background: $white;
        box-shadow: 0px 3px 6px #00000029;
        border: 0;
        margin-bottom: 0;
        border: 0;
        position: relative;

        @include medium-768 {
            padding: 2rem 1.6rem;
        }

        @include small-767 {
            display: none;
        }

        &:first-child {
            border-top-left-radius: 1.2rem;
            border-bottom-left-radius: 1.2rem;
        }

        &:last-child {
            border-top-right-radius: 1.2rem;
            border-bottom-right-radius: 1.2rem;
        }

        &.active {
            background: $button-color;
            min-height: 120px;
            padding: 1rem 2rem;
            border-radius: 1.2rem;
            transition: ease-in-out .5s;

            @include medium-768 {
                padding: 1rem 2rem;
            }

            @include small-767 {
                display: flex;
                width: 100%;
                min-width: 100%;
                padding: 2rem 2rem;
                min-height: 13rem;
            }

            .bar-box {
                .title-heading {
                    display: block;
                }

                .title-in-progress {
                    display: block;
                }

                .step-p {
                    display: none;
                }

                .check-bar-icon {
                    display: none;
                }
            }
        }

        &.done {
            background: $primary;
            height: 100px;
            border-right: 1px solid $white;

            // padding: 2rem 1.4rem;
            &:last-child {
                border-right: none;
            }

            .bar-box {
                .title-heading {
                    display: none;
                }

                .title-in-progress {
                    display: none;
                }

                .step-p {
                    display: block;
                    color: $white;

                    @include medium-768 {
                        font-size: 9px;
                    }
                }

                .check-bar-icon {
                    display: block;
                }

                .done-p {
                    display: block;

                    @include medium-768 {
                        font-size: 9px;
                    }
                }
            }
        }

        .bar-box {

            // height: 10rem;
            // width: auto;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            // padding: 2rem 3.5rem;
            // background: $white;
            // box-shadow: 0px 3px 6px #00000029;
            // border: 0;
            // margin-bottom: 0;
            .text-links-mobile {
                display: none;

                @include small-767 {
                    display: block;
                    position: absolute;
                    left: 1rem;
                    top: 1rem;
                    font-size: 1.6rem;
                    color: $white;
                    font-weight: 400;
                    margin-bottom: 0;
                    position: absolute;
                    left: 1rem;
                    top: 1rem;

                    span {
                        color: $white;
                        padding-left: 3px;
                    }
                }
            }

            .step-p {
                font-size: 14px;
                font-weight: 500;
                color: #0D0D0D;
                margin-bottom: 0;
                text-align: center;

                @include medium-768 {
                    font-size: 11px;
                }
            }

            .done-p {
                font-size: 12px;
                font-weight: 300;
                color: #fff;
                margin-top: 4px;
                margin-bottom: 0;
                display: none;
                text-align: center;

                @include medium-768 {
                    font-size: 11px;
                }
            }

            .check-bar-icon {
                display: none;
                text-align: center;

                .fa-check-circle {
                    color: $white;
                    font-size: 12px;
                    margin-bottom: 4px;

                    @include medium-768 {
                        font-size: 10px;
                    }
                }
            }

            .title-heading {
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                margin-top: 0px;
                margin-bottom: 4px;
                display: none;
                text-align: center;

                @include medium-768 {
                    font-size: 16px;
                }
            }

            .title-in-progress {
                font-size: 14px;
                font-weight: 300;
                color: #fff;
                margin-top: 0px;
                margin-bottom: 0px;
                display: none;
                text-align: center;

                @include medium-768 {
                    font-size: 12px;
                }
            }
        }
    }
}
