$primary:#0B4AA6;
$body-color:#F4F8FB;
$label:#003075;
$button-color:#FBB343;
$primary-heading:#0D0D0D;
$secondary-heading:#040404;
$heading:#333;
$text-8 :#888;
$text-9 :#999;
$text-p :#666;
$text-7:#777777;
$text-70:#707070;
$text-78:#787878;
$footer-bg:#eeeeee;
$footer-color:#1C4670;
$placeholder:#D6D6D6;
$table-heading: #484848;
$gradient:linear-gradient(90deg, rgba(233, 201, 103, 1) 0%, rgba(209, 177, 81, 1) 100%);